spring.jpa.hibernate.ddl-auto = update
spring.datasource.url = jdbc:postgres://
spring.datasource.username = postgres
spring.datasource.password = 
spring.jpa.show-sql = false
spring.jpa.open-in-view = false